* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    color:coral;
    border: 1px solid darkblue;
    border-radius: 8px;
}

#links {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    text-decoration: none;
    border: 2px solid darkblue;
    border-radius: 15px;
    color: coral;
}

a:hover{
    background-color: darkblue;
}

